body,form,input,ul,li{
	margin: 0;
	padding: 0;
}
img{
	display: block;
	border: 0
}
a{
	text-decoration: none;
}
.clear{
	clear: both;
	height: 0;
	width: 0;
}
.content{
	height: 626px;
	background: url("../imgs/bg.jpg") no-repeat
}
.search-box{
	position: absolute;
	left: 106px;
	top: 126px;
}
.search-box .logo{
	float: left;
	margin-right: 18px;
}
.search-box .search-form{
	float: left;
	width: 550px;
	height: 46px;
}
.search-box .search-form input{
	border: 0;
}
#index-search{
	width: 484px;
	height: 46px;
	float: left;
	padding: 0 10px;
	font-size: 18px;
	outline: none;
}
#index-search-btn{
	width: 46px;
	height: 46px;
	float: left;
	background: #0c8484 url("../imgs/hpc18.png") no-repeat;
	background-position: -159px -54px;
}
.asso-con{
	width: 549px;
	margin-left: 124px;
	border: 1px solid #999;
	margin-top: -7px;
	background: #fff;
	display: none;
	list-style: none;
}
.asso-con li{
	height: 34px;
	padding-left: 12px;
	line-height: 34px;
}
.asso-con li:hover{
	background: #f5f5f5;
	text-decoration: underline;
}
.asso-con li a{
	display: block;
	color: #333;
	width: 100%;
}